hcloud_token = "<YOUR-HCLOUD-TOKEN>"
ssh_key_name = "<YOUR-KEY-NAME>"
ssh_pub_key_path  = "/path/to/your/public/key.pub"
#
## You can override the default values here if needed
#
# project_name = "default"
# create_volume = "false"
# hcloud_image_name = "ubuntu-24.04"
# hcloud_location_name = "nbg1"
# hcloud_server_type_name = "cx21"
# network_ip_range = "10.1.0.0/16"
# subnet_ip_range = "10.1.1.0/24"
# server_network_ip = "10.0.1.2"
# reverse_proxy = "traefik"
#
## firewall rules
firewall_rules = [
  {
    protocol   = "tcp"
    port       = "22"
    source_ips = ["0.0.0.0/0", "::/0"]
  },
  {
    protocol   = "tcp"
    port       = "80"
    source_ips = ["0.0.0.0/0", "::/0"]
  },
  {
    protocol   = "tcp"
    port       = "443"
    source_ips = ["0.0.0.0/0", "::/0"]
  },
  {
    protocol   = "tcp"
    port       = "9443"
    source_ips = ["0.0.0.0/0", "::/0"]
  }
]

